@charset "UTF-8";

/* 共通 */
body {
  font-family: 'Lato', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.def_btn {
  text-decoration: none;
  transition: all .3s;
}

.link_btn {
  color: #fff;
  background-color: #74cfae;
  font-size: 12px;
}

a.link_btn:hover {
  color: #333;
}

.fas:not(:last-child) {
  font-size: 50px;
}

/* header */
.header {
  background-color: #fff;
  left: 0;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.header .inner {
  position: relative;
}

.header .link_btn {
  position: absolute;
  padding: 14px 12px;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

/* main */
.container {
  width: 100%;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

/* theme */
.theme {
  background-color: #f2f2f2;
  padding: 250px 0;
  text-align: center;
}

.product_name {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.product_kind {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/* canDo */
.canDo {
  background-color: #74cfae;
  color: #fff;
  padding-top: 50px;
}

.whatCanDo {
  position: relative;
}

.whatCanDo_details {
  position: absolute;
  right: 0;
  text-align: center;
  top: 40%;
  transform: translate(0, -50%);
  width: 65%;
}

.whatCanDo_title {
  font-size: 20px;
}

.whatCanDo_content {
  font-size: 20px;
  margin-top: 35px;
}

/* latest_works */
.latest_works {
  background-color: #f2f2f2;
  color: #333;
  padding: 60px 0 70px;
}

.works {
  box-sizing: border-box;
  font-size: 0;
  padding: 40px 0 10px;
}

.works_title {
  font-size: 20px;
  text-align: center;
}

.works_box {
  padding-bottom: 90px;
}

.work {
  opacity: 0.7;
  transition: all .3s;
}

.work:not(:nth-child(3n-2)) {
  margin-left: 100px;
}

.work:nth-child(n+4){
  margin-top: 80px;
}

.work:hover {
  opacity: 1;
}

.works_text {
  font-size: 24px;
  width: 70%;
  display: inline-block;
}

.works .link_btn {
  padding: 14px 20px;
  margin-left: 90px;
  display: inline-block;
  vertical-align: top;
}

/* skills */
.skills {
  background-color: #4e4e4e;
  color: #fff;
  text-align: center;
  padding: 70px 0 100px;
}

.skills .inner {
  display: flex;
  justify-content: center;
}

.skills_title {
  font-size: 24px;
  padding-bottom: 50px;
}

.skill img {
  padding-bottom: 10px;
}

.skill:not(:nth-child(1)) {
  margin-left: 180px;
}

/* sns */
.sns {
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 200px 0;
}

.sns_contacts {
  display: flex;
  justify-content: center;
}

.sns_contact {
  box-sizing: border-box;
  font-size: 50px;
  text-align: center;
  width: 185px;
}

.sns_link:link, .sns_link:visited {
  color: #74cfae;
  display: block;
  padding: 20px;
}

.sns_link:hover {
  background-color: #fff;
}

/* footer */
.footer {
  background-color: #74cfae;
  box-sizing: border-box;
  padding: 20px 0 25px;
}

.copyright {
  text-align: right;
}